@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700|Roboto:100,300,400");

body {
  font-family: "Lato", sans-serif;
  background-color: whitesmoke;
  width: 80%;
  margin: 0 auto;
}

.floatRight {
  float: right;
}

.spinner {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 2rem;
  height: 2rem;
  border: 5px solid #94d3fd7e;
  border-radius: 50%;
  border-top: 5px solid #3498db;
  -webkit-animation: spin 0.7s linear infinite; /* Safari */
  animation: spin 0.7s linear infinite;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.div-loading {
  z-index: 10;
  display: none;
  background-color: #0a0a0a6b;
  height: 100%;
  width: 100%;
  top: 0%;
  left: 0%;
  position: absolute;
}

input[type="checkbox"] {
  zoom: 1.5;
}

.mtb {
  margin-block-start: 1em;
  margin-block-end: 1em;
}

.delete-btn {
  background-color: rgb(255, 113, 113);
}

.add-btn {
  background-color: rgb(83, 235, 83);
}

.edit-btn {
  background-color: rgb(99, 159, 248);
}

.header {
  text-align: center;
  color: black;
  font-size: 2rem;
}

.nav__link {
  padding: 10px;
  text-decoration: underline;
  font-size: 1.2rem;
  font-weight: bold;
  cursor: pointer;
}

.section__boards {
  text-align: center;

  .board {
    padding: 20px;
    margin: 5px;
    border: 3px solid black;
    cursor: pointer;
  }
}

.section__lists {
  text-align: center;
  display: none;

  .list {
    padding: 20px;
    margin: 5px;
    border: 3px solid black;
    cursor: pointer;
  }
}

.section__cards {
  text-align: center;
  display: none;

  .card {
    padding: 20px;
    margin: 5px;
    border: 3px solid black;

    cursor: pointer;
  }
}

.section__checklists {
  text-align: center;
  display: none;

  button {
    padding: 0.5rem;
    border: 1px solid #2c2c2c;
    font-weight: bold;
  }

  input {
    background: none;
    border: none;
    padding: 0.5rem;
    border: 1px solid #2c2c2c;
    font-weight: bold;
  }

  input:focus {
    outline: none;
  }

  .checklist {
    padding: 20px;
    margin: 5px;
    border: 3px solid black;
    cursor: pointer;
    border-radius: 5px;

    .checkItem {
      padding: 0.5rem;
      text-align: left;
      font-size: 1.2rem;
      display: flex;
      align-items: center;
      position: relative;

      label {
        max-width: 15rem;
      }
    }
  }
}

.checkItemButtons {
  position: absolute;
  right: 0;
}
